ion-slides{
    background-image: url('/assets/bg.jpeg');

	ion-slide{
	    height: 100vh;
	    overflow-y: scroll;
	    font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;

	    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradientBG 15s ease infinite;

	    ion-content{
	    	--background: transparent;
	    }

		img {
		  max-height: 50%;
		  max-width: 60%;
		  margin: 36px 0;
		}
		.q-div{
			display: flex;
			flex-direction: column;
			min-height: 40vh;
			width: 90%;
			align-items: center;
		    box-sizing: border-box;
		    justify-content: center;
		    border-radius: 10px;
		    margin: 15px auto;
		    position: relative;
		    
			h3{
				margin: auto 2px;
			    padding: 20px;
			    font-weight: 900;
			}
		}

		ion-card.title{
	    	--background: #fff;
		}
		.answer-box{
			margin: 10px;
			min-width: 320px;
			margin-bottom: 100px;
		    ion-card{
		    	--background: #fff;
			    padding: 20px;
				font-family: 'Avenir', Helvetica, Arial, sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
		    }
		}
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.close-button{
    top: -33px;
    left: -16px;
    ion-fab-button{
    	--border-radius: 0px;
    	height: 92px;
	    transform: rotate(45deg);

	    ion-icon{
	    	margin-left: 15px;
	    }
    }
}
