.invalid p{
    margin: 0px 4px 21px 4px;
    text-align: center;
    font-size: 0.8em;
    background-color: #f04141;
    color: #fff;
}

.custom-back{

	ion-item{
		--background: transparent;
	    --color: #fff;
	    --border-color: #fff;
	    --highlight-color-focused: #fff;
	    --color-activated: #fff;
        margin-top: 20px;
	}

}

.note-block{
	text-align: left;
	color: #fff;
	small{
		color: #fff;
	}

	li{
		list-style-type: decimal;		
	}
}

ion-label {
   white-space: normal !important;
   max-width: none !important;
   width: 100%;
   color: #fff !important;
}