<form class="custom-back ion-text-center" padding [formGroup]="myForm">

    <ion-item>
		<ion-label position="stacked">{{'LOGIN.Age' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-input formControlName="age" required type="number"></ion-input>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.age.valid  && (myForm.controls.age.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

    <ion-item>
		<ion-label position="stacked">{{'LOGIN.Gender' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-select formControlName="gender" required interface="popover" mode="ios">
			<ion-select-option value="male">{{'Male' | translate}}</ion-select-option>
			<ion-select-option value="female">{{'Female' | translate}}</ion-select-option>
		</ion-select>
	</ion-item>
		<div class="invalid" *ngIf="!myForm.controls.gender.valid  && (myForm.controls.gender.dirty || submitAttempt)">
        <p>{{'LOGIN.selectErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'LOGIN.Religion' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-select formControlName="religion" required interface="popover" mode="ios">
			<ion-select-option value="jain">{{'Jain' | translate}}</ion-select-option>
			<ion-select-option value="other">{{'Other' | translate}}</ion-select-option>
		</ion-select>
	</ion-item>
		<div class="invalid" *ngIf="!myForm.controls.religion.valid  && (myForm.controls.religion.dirty || submitAttempt)">
        <p>{{'LOGIN.selectErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'LOGIN.Country' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-input formControlName="country" required></ion-input>
		<!-- <ion-select formControlName="country" required interface="popover" mode="ios">
			<ion-select-option value="indian">India</ion-select-option>
			<ion-select-option value="other">Other</ion-select-option>
		</ion-select> -->

		<!-- <ionic-selectable
		    [(ngModel)]="country"
		    [items]="countries"
		    itemValueField="name"
		    itemTextField="name"
		    [canSearch]="true">
		  </ionic-selectable> -->
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.country.valid  && (myForm.controls.country.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'LOGIN.State' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-input formControlName="state" required></ion-input>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.state.valid  && (myForm.controls.state.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'LOGIN.City' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-input formControlName="city" required></ion-input>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.city.valid  && (myForm.controls.city.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

    <ion-item>
		<ion-label position="stacked">{{'LOGIN.Contact' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-input formControlName="contact" required type="text"></ion-input>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.contact.valid  && (myForm.controls.contact.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'Sampradaay' | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-select formControlName="sampraday" required interface="popover" mode="ios">
			<ion-select-option value="Swetamber">{{'Swetamber Murtipujak' | translate}}</ion-select-option>
			<ion-select-option value="StanakVasi">{{'StanakVasi' | translate}}</ion-select-option>
			<ion-select-option value="Digamber">{{'Digamber' | translate}}</ion-select-option>
			<ion-select-option value="Terapant">{{'Terapant' | translate}}</ion-select-option>
		</ion-select>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.sampraday.valid  && (myForm.controls.sampraday.dirty || submitAttempt)">
        <p>{{'LOGIN.textErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'Qualification'  | translate}}<ion-text color="danger">*</ion-text></ion-label>
		<ion-select formControlName="qualification" required interface="popover" mode="ios">
			<ion-select-option value="No formal education">{{'No formal education' | translate}}</ion-select-option>
		    <ion-select-option value="Primary education">{{'Primary education' | translate}}</ion-select-option>
		    <ion-select-option value="Secondary education">{{'Secondary education or high school' | translate}}</ion-select-option>
		    <ion-select-option value="GED">{{'GED' | translate}}</ion-select-option>
		    <ion-select-option value="Vocational qualification">{{'Vocational qualification' | translate}}</ion-select-option>
		    <ion-select-option value="Bachelors degree">{{"Bachelor's degree" | translate}}</ion-select-option>
		    <ion-select-option value="Masters degree">{{"Master's degree" | translate}}</ion-select-option>
		    <ion-select-option value="Doctorate or higher">{{"Doctorate or higher" | translate}}</ion-select-option>
		</ion-select>
	</ion-item>
	<div class="invalid" *ngIf="!myForm.controls.qualification.valid  && (myForm.controls.qualification.dirty || submitAttempt)">
        <p>{{'LOGIN.selectErr' | translate}}</p>
    </div>

	<ion-item>
		<ion-label position="stacked">{{'Referral Code' | translate}}</ion-label>
		<ion-input formControlName="refered_by"></ion-input>
	</ion-item>

	<div class="ion-padding note-block" [innerHTML]="'LOGIN.note' | translate"> </div>
    <div class="ion-padding">
	    <ion-button  color="primary" (click)="onSubmit()">{{'Continue' | translate}}</ion-button>
	</div>
</form>
