
<ion-content fullscreen>
<!-- 	<div class="version" [hidden]="!dataVersion">
		<small>version {{dataVersion}}</small>
	</div> -->
	<div class="q-div">

		<div style="font-size: 2rem; color: #fff; font-weight: 800; text-align: center;" class="ion-padding">
			{{ 'PROFILE.title' | translate }}
		</div>
		<div class="avatar-wrap z-depth-4" [hidden]="!userProfile.givenName">
			<!-- <ion-avatar class="z-depth-4 avatar">
			  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar> -->
			<h2 style="color: #fff">{{userProfile.givenName}} {{userProfile.familyName}}</h2>
			<h5 style="color: #fff; text-align: center;">
				{{completedCount}} Badges
				<ion-icon name="ribbon" style="color: gold"></ion-icon>
			</h5>
			<ion-button mode="ios" 
						color="tertiary" 
						size="small" 
						(click)="showCongrats()"
						[hidden]="(totalCount - completedCount) > 0">{{'Get your Certificate' | translate}}</ion-button>
		</div>
		<div class="ion-padding" [hidden]="!userProfile.givenName">
			<ion-button size="large" color="dark" (click)="gotoCategory()" class="hvr-pulse-grow">
				{{'PROFILE.start' | translate}}
				<ion-icon name="ribbon" style="color: gold"></ion-icon>
			</ion-button>
		</div>

		<div class="language-select">
			<!-- <select (change)="updateLanguage(selectedLang)" [(ngModel)]="selectedLang">
				<option value="{{lang}}" 
						*ngFor="let lang of available_languages" 
						[hidden]="lang == 'answers'">{{lang}}</option>
			</select> -->
			<ion-select 
				style="color: #fff;"
				interface="popover"
				mode="ios" 
				placeholder="Language" 
				[(ngModel)]="selectedLang" 
				(ionChange)="updateLanguage(selectedLang)">
		      <ion-select-option *ngFor="let lang of available_languages"
		      	value="{{lang}}">{{'PROFILE.' + lang.toUpperCase() | translate}}</ion-select-option>
		    </ion-select>
		</div>
<!-- 		<div class="logout">
			<ion-button size="small" color="light" fill="clear" (click)="logout(event)">
				<ion-icon name="power"></ion-icon>
				Logout
			</ion-button>
		</div> -->
		<div class="sound">
			<ion-button size="large" color="light" shape="round" fill="clear" (click)="audioToggel()">
				<ion-icon name="volume-off" [hidden]="audoStatus"></ion-icon>
				<ion-icon name="volume-high" [hidden]="!audoStatus"></ion-icon>
			</ion-button>
		</div>

		<div class="sound" style="top: 0px; left: 0px; right: auto;bottom: auto;">
			<ion-button size="large" color="light" shape="round" fill="clear" (click)="openMenu($event)">
				<ion-icon name="ios-more"></ion-icon>
			</ion-button>
		</div>
	</div>
</ion-content>
